<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.daily.news.login">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="WOA_APP_ID"
            android:value="416" />


        <activity
            android:name="com.daily.news.login.LoginMainActivity"
            android:launchMode="singleTop"
            android:configChanges="uiMode"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />

                <data android:path="/login/LoginActivity" />

                <!--以下测试 host -->
                <data android:host="@string/data_host" />

            </intent-filter>

        </activity>

        <!--<activity-->
            <!--android:name="com.daily.news.login.zbtxz.ZBLoginActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="adjustPan|stateHidden">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data android:scheme="@string/data_scheme" />-->

                <!--<data android:path="/login/ZBLoginActivity" />-->

                <!--&lt;!&ndash;以下测试 host &ndash;&gt;-->
                <!--<data android:host="@string/data_host" />-->
            <!--</intent-filter>-->

        <!--</activity>-->
        <activity
            android:name="com.daily.news.login.zbtxz.ZBPasswordLoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />

                <data android:path="/login/ZBPasswordLoginActivity" />

                <!--以下测试 host -->
                <data android:host="@string/data_host" />
            </intent-filter>

        </activity>
        <!--<activity-->
            <!--android:name="com.daily.news.login.zbtxz.ZBResetNewPassWord"-->
            <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data android:scheme="@string/data_scheme" />-->
                <!--<data android:path="/login/ZBResetNewPassWord" />-->

                <!--&lt;!&ndash;以下测试 host &ndash;&gt;-->
                <!--<data android:host="@string/data_host" />-->

            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name="com.daily.news.login.zbtxz.ZBResetNewPassWordActivity"
            android:configChanges="uiMode"
            android:name="com.daily.news.login.zbtxz.ZBResetNewPassWordActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:path="/login/ZBResetNewPassWordActivity" />

                <!--以下测试 host -->
                <data android:host="@string/data_host" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.daily.news.login.zbtxz.ZBResetPasswordActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:path="/login/ZBResetPasswordActivity" />

                <!--以下测试 host -->
                <data android:host="@string/data_host" />

            </intent-filter>
        </activity>
        <!--        <activity
            android:name="com.daily.news.login.zbtxz.ZBVerificationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:path="/login/ZBVerificationActivity" />

                &lt;!&ndash;以下测试 host &ndash;&gt;
                <data android:host="@string/data_host" />

            </intent-filter>
        </activity>-->

        <activity
            android:name="com.daily.news.login.zbtxz.ZBBindMobileActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:path="/login/ZBBindMobileActivity" />

                <!--以下测试 host -->
                <data android:host="@string/data_host" />

            </intent-filter>
        </activity>

        <!--新增 path配置-->
        <activity
            android:name="com.daily.news.login.zbtxz.ZBBindMergeInfoActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:path="/login/ZBBindMergeInfoActivity" />

                <!--以下测试 host -->
                <data android:host="@string/data_host" />

            </intent-filter>
        </activity>

<!--        <activity
            android:name="com.daily.news.login.zbtxz.ZBMobileValidateActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:path="/login/ZBMobileValidateActivity" />

                &lt;!&ndash;以下测试 host &ndash;&gt;
                <data android:host="@string/data_host" />

            </intent-filter>
        </activity>-->
        <!--用户协议-->
        <activity
            android:name=".zbtxz.ZBUserProtectActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/data_scheme" />
                <data android:path="/login/ZBUserProtectActivity" />

                <!--以下测试 host -->
                <data android:host="@string/data_host" />

            </intent-filter>
        </activity>
    </application>

</manifest>