<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.daily.news.login">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        >
        <meta-data
            android:name="WOA_APP_ID"
            android:value="416"/>

        <activity
            android:name="com.daily.news.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.8531.cn"
                    android:path="/login/LoginActivity"
                    android:scheme="@string/data_scheme_http"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.daily.news.login.zbtxz.ZBLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.8531.cn"
                    android:path="/login/ZBLoginActivity"
                    android:scheme="@string/data_scheme_http"/>
            </intent-filter>

        </activity>
        <activity
            android:name="com.daily.news.login.zbtxz.ZBRegisterActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.8531.cn"
                    android:path="/login/ZBRegisterActivity"
                    android:scheme="@string/data_scheme_http"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.daily.news.login.zbtxz.ZBResetNewPassWord"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.8531.cn"
                    android:path="/login/ZBResetNewPassWord"
                    android:scheme="@string/data_scheme_http"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.daily.news.login.zbtxz.ZBResetPWSmsLogin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.8531.cn"
                    android:path="/login/ZBResetPWSmsLogin"
                    android:scheme="@string/data_scheme_http"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.daily.news.login.zbtxz.ZBVerificationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.8531.cn"
                    android:path="/login/ZBVerificationActivity"
                    android:scheme="@string/data_scheme_http"/>
            </intent-filter>
        </activity>
    </application>

</manifest>